[Unit]
Description=ezr2mqtt
After=network.target
StartLimitIntervalSec=0

[Service]
User=ezr2mqtt
Group=ezr2mqtt
WorkingDirectory=/opt/ezr2mqtt
Type=simple
Environment="PYTHONUNBUFFERED=1"
ExecStart=/opt/ezr2mqtt/ezr2mqtt.py
Restart=always
RestartSec=10
TimeoutStopSec=30

[Install]
WantedBy=mult-user.target
